{% extends "layout.html" %}

{% block title %}
About Us | Rumble
{% endblock %}

{% load static %}
{% block main %}
<section>
    <div class="container-fluid about-background py-6 px-5">
        <div class="container">
            <span class="row mb-3 fw-bold fs-1 text-black">Who we are</span>
            <div class="row about-header">
                <p class="fw-bold p-0 fs-5">Rumble is a online delivery service that connects people with the
                    best restaurants of their neighborhood across Nigeria. We enable local businesses to meet
                    consumer needs for convenience and convenience, and thus create new ways for people to make
                    money, work and live.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container my-custom text-center px-4">
        <h1 class="fw-bold fs-1 mb-5">What's our values</h1>
        <div class="row">
            <div class="col-12 col-md-5">
                <img src="{% static 'images/pexels-spencer-selover-775358.jpg' %}" alt="" class="img-fluid about-img">
            </div>
            <div class="col-md-2"></div>
            <div class="col-12 col-md-5 mt-5 d-flex justify-content-center flex-column">
                <div class="row">
                    <span class="fw-bold fs-3 mb-2">We are innovators</span>
                </div>
                <div class="row">
                    <p class="fs-5">The idea of ​​rumble was born on a rainy night in Port Harcourt in 2016.
                        Since then, the DNA of our redesign and reinvention has continued. We have evolved into
                        a global platform that moves people and things more and more.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid bg-black light-coral p-0 text-center">
        <div class="container py-6 px-4">
            <div class="row">
                <div class="col-12 col-md-5 mt-5 d-flex justify-content-center flex-column order-last order-md-first">
                    <div class="row">
                        <span class="fw-bold fs-3 mb-2 text-white">Life at Rumble</span>
                    </div>
                    <div class="row">
                        <p class="fs-5 text-white">Great minds don’t think alike. That’s why Rumble reflects the
                            incredible
                            diversity of the
                            people who connect on our platform. Our job is to supply you with the flexibility to
                            work where you want, benefits to be your best self, and a commitment to doing the
                            right.
                            Period.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-6 order-first order-md-last">
                    <img src="{% static 'images/pexels-mwabonje-1820919.jpg' %}" alt="" class="img-fluid" style="max-height: 500px;">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid bg-black light-coral p-0 text-center">
        <div class="container pb-6 px-4">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-md-6">
                    <img src="{% static 'images/pexels-fauxels-3184419.jpg' %}" alt="" class="img-fluid" style="max-height: 450px;">
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-5 mt-5 d-flex justify-content-center flex-column">
                    <div class="row">
                        <span class="fw-bold fs-3 mb-2 text-white">The team</span>
                    </div>
                    <div class="row">
                        <p class="fs-5 text-white">We’re dedicated to supporting our community to live an open
                            and authentic life, to love whomever and however they want, and to feel empowered to
                            speak their truth.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container p-5">
        <div class="row mb-5">
            <span class="fw-bold fs-1 mb-3 text-center">Rumble Newletter</span>
            <p class="fs-5 p-0 text-center text-md-start">For the latest news and company information, please visit the
                <a href="" class="">Rumble News Room</a>. There, you can
                browse the rumble archive to find previous announcements, company information, and more.</p>
        </div>
        <div class="row">
            <span class="fw-bold fs-1 mb-3 text-center">Support when needed</span>
            <p class="fs-5 p-0 text-center text-md-start">Do you require assistance as a customer, dispatch rider or
                vendor? Browse our
                <a href="">FAQs</a> for answers to your questions.
            </p>
        </div>
    </div>
</section>
{% endblock %}