{% extends 'layout-checkout.html' %}

{% block title %}
Store Page | Rumble
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}

{% block script %}
{% csrf_token %}
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AQuvAAQKSqMs6DaQlLZ0R13xXTukx5BUO5SJlXVu14sWLjsUsFa9iZEKoDAQY2fWetWs2q2MOcdZrLb1&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
<script>
    // let totalPrice = ""
    let totalPrice = parseFloat(" {{ paymentOrder.get_cart_price }} ") + 1
    totalPrice = totalPrice.toFixed(2)

 
    const paypalButtonsComponent = paypal.Buttons({
        // optional styling for buttons
        // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
        style: {
        color: "blue",
        shape: "rect",
        layout: "vertical"
        },

        // set up the transaction
        createOrder: (data, actions) => {
            // pass in any options from the v2 orders create call:
            // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
            const createOrderPayload = {
                purchase_units: [
                    {
                        amount: {
                            value: totalPrice
                        }
                    }
                ]
            };

            return actions.order.create(createOrderPayload);
        },

        // finalize the transaction
        onApprove: (data, actions) => {
            const captureOrderHandler = (details) => {
                const payerName = details.payer.name.given_name;
                validatePayment()
            };

            return actions.order.capture().then(captureOrderHandler);
        },

        // handle unrecoverable errors
        onError: (err) => {
            console.error('An error prevented the buyer from checking out with PayPal');
        }
    });

    paypalButtonsComponent
        .render("#paypal-button-container")
        .catch((err) => {
            console.error('PayPal Buttons failed to render');
        });
</script>
<script>
    async function validatePayment() {
        let shippingAddressInfo = undefined
        for (addr of shippingAddressDisplay) {
            if (addr.classList.contains('visually-hidden') == false) {
                shippingAddressInfo = addr
            }
        }

        let paymentInfo = {
            "first_name": "{{ user.first_name }}",
            "last_name": "{{ user.last_name }}",
            "email": "{{ details.customer.email }}",
            "total": totalPrice
        }

        let shippingInfo = {
            "vendor": "{{ paymentOrder.vendor.name }}",
            "id": shippingAddressInfo.dataset.id,
            "address": shippingAddressInfo.dataset.address,
            "state": shippingAddressInfo.dataset.state,
            "city": shippingAddressInfo.dataset.city,
            "zip_code": shippingAddressInfo.dataset.zip_code
        }

        let url = '/process-order/'

        let reponse = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            mode: "same-origin",
            body: JSON.stringify({
                'paymentInfo': paymentInfo,
                'shippingInfo': shippingInfo
            })
        })

        try {
            let data = await reponse.json()
            alert(data)
            window.location.href = "{% url 'home' %}"
        }
        catch(err) {
            console.log(err)
        }

        
    }
</script>
{% endblock %}

{% block main %}
<div class="container-fluid checkout-page-background p-0">
    <div class="container">
        <div class="row mb-3 p-3">
            <div class="col-6 p-3 me-2 rounded checkout-card-background shadow d-flex flex-column justify-content-between">
                <div class="rounded checkout-card-background">
                    <div class="d-flex justify-content-between mb-2">
                        <span class="fw-bold fs-4">Shipping Information</span>
                        <a href="" class="remove-link-style text-danger" data-bs-toggle="modal"
                            data-bs-target="#ModalOne">
                            <span class="fs-6 fw-bold">Change</span></a>

                        <!-- Modal 1 -->
                        <div class="modal fade" id="ModalOne" data-bs-backdrop="static" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-between border-0">
                                        <div style="width: 42px;"></div>
                                        <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Shipping Address</h1>
                                        <button type="button" class="btn remove-border" data-bs-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                                        {% for address in shippingAddresses %}
                                        <div class="row border mx-3 mb-3 p-3 rounded-3">
                                            <div class="col-1 d-flex align-items-center justify-content-center">
                                                <div class="form-check">
                                                    <input type="radio" name="shippingAddresses" id="" class="form-check-input">
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <div class="row">
                                                    <span class="fw-bold">{{ address.contact_name }}</span>
                                                </div>
                                                <div class="row">
                                                    <span class="text-secondary">{{ address.address }}, {{ address.city }}, {{ address.state }}, 
                                                        {{ address.zip_code}}</span>
                                                </div>
                                                <div class="row">
                                                    <span class="text-secondary">{{ address.number }}</span>
                                                </div>
                                            </div>
                                            <div class="col-2 d-flex justify-content-end align-items-center">
                                                <a href="" class="remove-link-style p-0" data-bs-toggle="modal" data-bs-target="#ModalTwo">
                                                    <span class="text-primary fs-7 shippingAddressEditBtn">Edit</span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" class="btn btn-danger w-100 mx-3 fw-bold" data-bs-toggle="modal" data-bs-target="#ModalTwo">Add New Address
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Model 2 -->
                        <div class="modal fade" id="ModalTwo" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header d-flex justify-content-between">
                                  <div style="width: 42px;"></div>
                                  <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Add New Address</h1>
                                  <button type="button" class="btn remove-border" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'checkout' details.vendor.name %}" method="post" id="addNewAddress">
                                        {% csrf_token %}
                                        <div class="row mt-3 p-1">
                                            <div class="col-6 text-secondary">
                                                <label for="state">Contact Name *</label>
                                                {{ form.contact_name }}
                                            </div>
                                            <div class="col-6 text-secondary">
                                                <label for="number">Address *</label>
                                                {{ form.address }}
                                            </div>
                                        </div>
                                        <div class="row mt-3 p-1">
                                            <div class="col-6 text-secondary">
                                                <label for="address" class="">State *</label>
                                                {{ form.state }}
                                            </div>
                                            <div class="col-6 text-secondary">
                                                <label for="city" class="">City *</label>
                                                {{ form.city }}
                                            </div>
                                        </div>
                                        <div class="row mt-3 p-1">
                                            <div class="col-6 text-secondary">
                                                <label for="state">Zip Code *</label>
                                                {{ form.zip_code }}
                                            </div>
                                            <div class="col-6 text-secondary">
                                                <label for="number">Number *</label>
                                                {{ form.number }}
                                            </div>
                                        </div>
                                        <div class="row visually-hidden">
                                            {{ form.db_id }}
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn fw-bold btn-secondary light-gray text-black-50 remove-border" data-bs-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn fw-bold btn-danger" id="checkoutSubmit">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    {% for address in shippingAddresses %}
                    <div class="shippingAddressDisplay" data-contact_name="{{ address.contact_name }}" data-address="{{ address.address }}"
                    data-city="{{ address.city }}" data-state="{{ address.state }}" data-zip_code="{{ address.zip_code }}" data-number="{{ address.number }}"
                    data-id="{{ address.pk }}">
                        <div class="row">
                            <span class="text-secondary">{{ address.contact_name }}</span>
                        </div>
                        <div class="row">
                            <span class="text-secondary">{{ address.address }}, {{ address.city }}, {{ address.state }}, {{ address.zip_code}}</span>
                        </div>
                        <div class="row">
                            <span class="text-secondary">{{ address.number }}</span>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-danger fw-bold w-100" id="continuePayment">Continue</button>
                    <div id="paypal-button-container" class="visually-hidden"></div>
                </div>
            </div>
            <div class="col-5 p-3 rounded checkout-card-background shadow">
                {% for order in details.orders %}
                {% if order.vendor.name == details.vendor.name %}
                <div class="row">
                    <span class="fw-bold fs-4">Order Summary: <a href="{% url 'store' details.vendor.name %}"
                            class="remove-link-style link-dark p-0">{{ details.vendor.name }}</a></span>
                </div>
                {% for key, order_items in details.items.items %}
                {% if key == order %}
                {% for item in order_items %}
                <div class="row my-3">
                    <div class="col-4">
                        <img class="image-cart" src="{{ item.product.imageURL }}" alt="">
                    </div>
                    <div class="col-4">
                        <span>{{ item.product.name }} {{ name }}</span>
                    </div>
                    <div class="col-2">
                        <span>x{{ item.quantity }}</span>
                    </div>
                    <div class="col-2">
                        <span>${{ item.product.price | mul:item.quantity }}</span>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                <div class="row mt-3 p-1">
                    <span class="w-50 custom-border-cart pt-2">Subtotal</span>
                    <span class="w-50 text-end custom-border-cart pt-2">${{ order.get_cart_price }}</span>
                </div>
                <div class="row p-1">
                    <span class="w-50">Delivery Fee</span>
                    <span class="w-50 text-end">$1.0</span>
                </div>
                <div class="row p-1 mt-1">
                    <span class="w-50 fs-5 fw-bold custom-border-cart">Total</span>
                    <span class="w-50 fs-5 text-end fw-bold custom-border-cart">$
                        {{ order.get_cart_price | add:1}}</span>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row mb-3 p-3">
            
        </div>
    </div>
</div>
{% endblock %}