{% extends "layout.html" %}

{% block title %}
Rumble | Food Delivery & Takeout
{% endblock %}

{% load static %}
{% block main %}
<div class="container light-gray py-6 py-md-5 my-0 my-md-5 rounded">
    <div class="row text-center mb-5">
        <h2 class="fs-2 fw-bold">Need help?</h2>
        <span class="fs-6">We are right here to help. Our team is glad to reply your questions.</span>
    </div>
    <div class="row row-cols-3 row-cols-md-auto text-center gap-3 d-flex justify-content-center">
        <div class="col contact-row-col">
            <div class="row row-cols-1 d-flex justify-content-center gap-3">
                <i class="bi bi-chat-left-text-fill fs-2"></i>
                <a href="#" id="" class="p-0 remove-link-style">
                    <button class="btn bg-transparent contact-button fw-bold px-3 p-2 w-100">
                        Chat Us
                    </button>
                </a>
            </div>
        </div>
        <div class="col contact-row-col">
            <div class="row row-cols-1 d-flex justify-content-center gap-3">
                <i class="bi bi-envelope-fill fs-2"></i>
                <a href="#" id="" class="p-0 remove-link-style">
                    <button class="btn bg-transparent contact-button fw-bold px-3 p-2 w-100">
                        Email Us
                    </button>
                </a>
            </div>
        </div>
        <div class="col contact-row-col">
            <div class="row row-cols-1 d-flex justify-content-center gap-3">
                <i class="bi bi-telephone-fill fs-2"></i>
                <a href="#" id="" class="p-0 remove-link-style">
                    <button class="btn bg-transparent contact-button fw-bold px-3 p-2 w-100">
                        Call Us
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}