{% extends "layout.html" %}

{% block title %}
Rumble | Food Delivery & Takeout
{% endblock %}

{% load static %}
{% block main %}


<section>
    <div class="container-fluid light-coral py-6 fs-1 d-flex justify-content-center align-items-center">
        <span class="fw-bold text-black text-center"> Frequently Asked Questions</span>
    </div>
    <div class="container p-3 p-md-5">
        <div class="container-fluid input-group mb-2">
            <input type="text" class="form-control shadow-sm" id="searchBar" placeholder="Search">
        </div>
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold one" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne">What is Rumble?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <span>Rumble is an online food delivery service which simplifies food ordering for
                            people. Simply choose the food you want on our online menus and be
                            delivered at home.</span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo">How can I sell on Rumble Food?</button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <span>We are constantly expanding and welcome new vendors every time. For how to sell on
                            Rumble Food please <a href="">click here</a></span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree">Do I have to create an account to place an
                        order?</button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <span>Yes you need to create an account on the Jumia Food App or website to be able to
                            place an order but you can do so at the end of your ordering process.
                        </span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour">How to place an order?</button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>1. Login and select your delivery location <br>
                            2. Choose your preferred restaurant/vendor (You can search by name cuisine type dish
                            name or by keyword) <br>
                            3. Add your selected menu to cart and proceed to checkout <br>
                            4. Choose your payment method. Always make sure that you enter the correct phone
                            number to help us contact you regarding your order if needed. <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold type=" button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive">Why am I getting a message that a restaurant does not
                        deliver to me?</button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>It is possibly because your delivery area is not covered by the restaurant and
                            Rumble is constantly working to add more locations/vendors to it's network. If
                            you enter your delivery address on the homepage then you can browse through all the
                            restaurants available in your location.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix">Do you support bulk orders?</button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <span>Yes we can cater to your orders regardless of the size and quantity.</span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven">Is there a minimum order value?</button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <span>The minimum order value is on the information section once you click on your
                            preferred vendor on the Rumble.
                        </span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight">Do you charge for delivery?</button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <span>Yes, a minimal fee is charged. However to enjoy free delivery kindly subscribe to
                            Rumble Prime for free delivery.
                        </span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseNine">I have a voucher code. How can I use it?</button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <span>If you have a Rumble voucher, you can use it by simply inputting
                            the voucher code at checkout and order.
                        </span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTen">How can I cancel my order?</button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>Your order can only be cancelled when it is yet to be confirmed or if the order
                            has not been accepted by the vendor. <br><br>

                            If the order has already been accepted by the vendor or picked up by the delivery
                            agent you are no longer able to cancel. Kindly note that you will be charged the
                            full value of the order if you still want to go ahead with the cancelation</p>
                    </div>
                </div>
            </div>
            {% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe }}
</div>
{% endfor %}
        </div>
    </div>
</section>
{% endblock %}