{% extends "layout-index.html" %}

{% block title %}
Food Delivery & Takeout | Rumble
{% endblock %}

{% block style %}
<style>
#searchBoxResult {
  position: relative;
  z-index: 0;
  max-width: none;
} 
</style>
{% endblock %}

{% load static %}

{% block script %}
<script type="module" src="{% static 'node_modules/js-cookie/dist/js.cookie.min.js' %}"></script>
<script type="module" src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block main %}
<section>
    <div class="segment-1 container-fluid d-flex flex-column flex-wrap justify-content-center align-items-center">
        <div class="row bg-white rounded mx-1 mx-md-5 mb-5">
            <span class="custom-font fw-bold text-black text-center pt-1" id="headline-1">Your favourite food,</span>
            <span class="custom-font fw-bold text-black text-center pb-2 " id="headline-2"> delivered at your
                doorstep</span>
        </div>
        <div class="row p-2 mx-4 bg-light rounded " id="searching">
            <form class="p-0" method="get" action="{% url 'home' %}">
                <div class="input-group">
                    <span class="input-group-text bg-white border-0" id="basic-addon1">
                        <i class="bi bi-geo-alt-fill"></i>
                    </span>
                    <input type="text" name="location" id="searchBox" class="form-control border-0 ps-0" autocomplete="off"
                        placeholder="Enter delivery address" data-url="{% url 'query-google-map' %}">
                    <button type="submit" class="btn btn-danger ms-1 fw-bold">Find Food</button>
                </div>
            </form>
        </div>
        <div class="row mt-1 mx-4 bg-light w-auto searchBoxResultIndex" id="searchBoxResult" style="max-width: 407px;">
        </div>
        <div class="row" id="blank-row" style="display: none;"></div>
    </div>
</section>
<section>
    <div class="container text-center my-custom">
        <h1 class="custom-font fw-bold lead mb-5 fs-1">How it Works</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4">
                <img src="{% static 'images/hospital.png' %}" alt="" class="img-fluid sticker-img"
                    style="max-height: 150px;">
                <div class="container sticker mt-1 mt-md-4">
                    <h1 class="custom-font fw-semibold fs-3">Set delivery location</h1>
                    <p class="fs-6 custom-font text-secondary">Select the location of where you want us to
                        deliver
                        your food</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <img src="{% static 'images/fast-food.png' %}" alt="" class="img-fluid sticker-img">
                <div class="container stickermt-1 mt-md-4">
                    <h1 class="custom-font fw-semibold fs-3">Add food to cart</h1>
                    <p class="fs-6 custom-font text-secondary">Browse through our partnered stores and select
                        what
                        you want to order
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <img src="{% static 'images/delivery-bike.png' %}" alt="" class="img-fluid sticker-img">
                <div class="container sticker mt-1 mt-md-4">
                    <h1 class="custom-font fw-semibold fs-3">Receive it at your doorstep</h1>
                    <p class="fs-6 custom-font text-secondary">Your order will be delivered to you in no time
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mb-custom">
        <div class="container row mx-0">
            <div class="col-12 col-md-4 d-flex align-items-center order-">
                <div>
                    <div>
                        <span class="custom-font fw-semibold fs-1">It's all here.</span>
                    </div>
                    <div class="row">
                        <span class="custom-font fw-semibold fs-1">All in one app.</span>
                    </div>
                    <div class="row mt-2">
                        <span class="fs-6 custom-font">Discover local, on-demand delivery or Pickup from
                            restaurants, nearby grocery
                            and convenience stores, and more.</span>
                    </div>
                    <div class="row px-0 my-4">
                        <a href="{% url 'home' %}" class="remove-link-style">
                            <button class="btn btn-danger rounded-pill fw-bold px-3" style="max-width: fit-content">
                                Visit web app
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 mb-4 mb-lg-0 order-first order-md-last">
                <img src="{% static 'images/pexels-kampus-production-8380047.jpg' %}" alt=""
                    class="float-end section3 img-fluid">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mb-custom-1">
        <div class="container row mx-0">
            <div class="col-12 col-md-8 mb-4 mb-lg-0">
                <img src="{% static 'images/pexels-polina-tankilevitch-4109084.jpg' %}" alt=""
                    class="float-start section3 img-fluid">
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-end">
                <div>
                    <div>
                        <span class="custom-font fw-semibold fs-1">Your restaurant,</span>
                    </div>
                    <div class="row">
                        <span class="custom-font fw-semibold fs-1">delivered.</span>
                    </div>
                    <div class="row mt-2">
                        <span class="fs-6 custom-font">With reliable delivery from delivery people using the
                            Rumble
                            platform, you can satisfy customers with the food they want—when and where they want
                            it.</span>
                    </div>
                    <div class="row px-0 my-4">
                        <a href="{% url 'register-vendor' %}" class="remove-link-style">
                            <button class="btn btn-danger rounded-pill fw-bold" style="width: fit-content;">Add your
                                restaurant</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}