{% extends 'layout-checkout.html' %}

{% block title %}
Home page | Rumble
{% endblock %}

{% load static %}
{% load mathfilters %}

{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container-fluid p-0 gray-page-background">
    <div class="container d-flex pt-3 px-0 gap-4">
        <div class="w-25" id="profile-sidenav" data-route="{{ route }}">
            <div class="row py-3 bg-white" id="overview">
                <a href="{% url 'profile-overview' %}" class="remove-link-style">
                    <span class="fw-bold">Account Overview</span>
                </a>
            </div>
            <div class="row py-3 bg-white" id="orders">
                <a href="" class="remove-link-style">
                    <span class="fw-bold">Orders</span>
                </a>
            </div>
            <div class="row py-3 bg-white" id="vouchers">
                <a href="{% url 'profile-voucher' %}" class="remove-link-style">
                    <span class="fw-bold">Vouchers</span>
                </a>
            </div>
            <div class="row py-3 bg-white" id="favourites">
                <span class="fw-bold">Favourites</span>
            </div>
        </div>
        <div class="w-100">
            {% if orders %}
            {% for order in orders %}
            <div class="p-3 bg-white w-100 mb-3">
                <div class="row mb">
                    <div class="row pb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <span class="fw-bold">{{ order.vendor.name }}</span>
                            </div>
                            <div class="d-flex flex-column align-items-end">
                                <span class="row fs-7">Order date: {{ order.date_order|date:"M d, Y, P" }}</span>
                                <span class="row fs-7">Order ID: {{ order.transaction_id }}</span>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-2">
                    {% for key, order_items in items.items %}
                    {% if key == order %}
                    {% for item in order_items %}
                    <div class="row">
                        <div class="col-2">
                            <img class="image-cart-lg" src="{{ item.product.imageURL }}" alt="">
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center">
                            <span class="row fw-bold mx-0 mb-1">{{ item.product.name }}</span>
                            <span class="row mx-0 mb-1 text-secondary">{{ item.product.description }}</span>
                            <div class="row mx-0 mb-1">
                                <span class="w-auto p-0">US ${{ item.product.price }}</span>
                                <span class="w-auto text-secondary">x{{ item.quantity }}</span>
                            </div>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center text-center">
                            <span class="fw-bold mb-1">Total: US ${{ item.product.price | mul:item.quantity }}</span>
                            <button class="btn btn-danger w-auto rounded-pill fw-bold"> View details</button>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="p-3 bg-white w-100 mb-3">
                <div class="d-flex flex-column justify-content-center align-items-center p-5">
                    <div class="mb-2">
                        <i class="bi bi-bookmark-plus-fill fs-1 text-dark-gray"></i>
                    </div>
                    <div class="mb-2">
                        <span class="fw-bold fs-4">No orders yet</span>
                    </div>
                    <div class="mb-4">
                        <span class="fs-6">Your initial order will display here when you do</span>
                    </div>
                    <div class="">
                        <button class="btn btn-dark fw-bold rounded-pill">
                            <a href="{% url 'home' %}" class="remove-link-style">Find Food</a></button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</div>