server {
    listen 80;
    server_name www.${VIRTUAL_HOST};

    # Redirect www to non-www over HTTPS
    return 301 https://${VIRTUAL_HOST}$request_uri;
}

server {
    listen 80;
    server_name ${VIRTUAL_HOST};

    location /static {
        alias /app/staticfiles/;
    }

    location /media {
        alias /app/media/;
    }

    location / {
        proxy_pass http://${APP_HOST}:${APP_PORT};
    }
}
