server {
    listen 80;
    server_name www.${SERVER_NAME};

    # Redirect www to non-www over HTTPS
    return 301 https://${SERVER_NAME}$request_uri;
}

server {
    listen 80;
    server_name ${SERVER_NAME};

    location /static {
        alias /app/staticfiles/;
    }

    location /media {
        alias /app/media/;
    }

    location / {
        proxy_pass http://${APP_HOST}:${APP_PORT};
    }
}
