<header>
    <nav class="navbar bg-white p-2 p-md-3 px-4 px-md-4">
        <div class="container-fluid p-0">
            <div class="offcanvas offcanvas-start p-4" tabindex="-1" id="offcanvas">
                <div class="container-fluid p-0 m-0 d-flex flex-column justify-content-between" style="height: 100vh;">
                    <div class="offcanvas-header row gap-1 p-0 m-0">
                        <!-- <h5 class="offcanvas-title">Offcanvas</h5> -->
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button> -->
                        <a href="{% url 'register' %}" class="p-0 offcanvas-link">
                            <div
                                class="col-12 bg-black text-white p-3 mb-1 text-center custom-font fw-bold offcanvas-font offcanvas-btn-custom">
                                Sign up</div>
                        </a>
                        <a href="{% url 'login' %}" class="p-0 offcanvas-link">
                            <div
                                class="col-12 p-3 text-black text-center custom-font fw-bold offcanvas-font light-gray offcanvas-font offcanvas-btn-custom-1">
                                Log in</div>
                        </a>
                        <div class="col-12 mt-3">
                            <div class="custom-font fw-bold fs-6 py-2"> <a href=""
                                    class="offcanvas-link text-black">Create a business account</a></div>
                            <div class="custom-font fw-bold fs-6 py-2"> <a href="" class="offcanvas-link text-black">Add
                                    your restaurant</a></div>
                            <div class="custom-font fw-bold fs-6 py-2"> <a href=""
                                    class="offcanvas-link text-black">Sign up to deliver</a></div>
                        </div>
                    </div>
                    <div class="offcanvas-body row flex-grow-0 p-0 m-0 mb-0 mb-md-4">
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-3 rounded d-flex justify-content-center align-items-center"
                                id="logo-placeholder">
                                <span class="custom-font fw-bold">Logo</span>
                            </div>
                            <div class="col-9"><span class="custom-font fw-bold">There's more to love in the
                                    app.</span></div>
                        </div>
                        <div class="row p-0 m-0">
                            <button class="btn light-gray col-5 p-0 p-2 rounded-pill text-black">
                                <i class="fa-brands fa-android pe-1 text-black"></i>
                                <span class="custom-font fw-bold ps-1" style="font-size: 0.85rem;">Android</span>
                            </button>
                            <div class="col-1"></div>
                            <button class="btn light-gray col-5 p-0 p-2 rounded-pill text-black">
                                <i class="bi bi-apple pe-1"></i>
                                <span class="custom-font fw-bold ps-1" style="font-size: 0.85rem;">Apple</span>
                                <div class="col-1"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="continar-fluid d-flex">
                <button class="btn" id="nav-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
                    <i class="bi bi-list text-black"></i>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <span class="custom-font fw-bold text-black">Rumble</span>
                </a>
            </div>
            <!-- <form action="" class="d-flex" role="search">
                <div class="input-group rounded-pill">
                    <span class="input-group-text light-gray border-0 text-secondary">@</span>
                    <input type="text" class="form-control light-gray border-0" name="search" placeholder="Search"
                        aria-label="Search" autocomplete="off">
                </div>
            </form> -->
            <div class="light-gray d-flex justify-content-between rounded-pill align-items-center search-bar">
                <span class="border-0 text-secondary ps-3">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control col-10 bg-transparent border-0" placeholder="Search">
            </div>
            <div class="d-flex justify-content-end gap-2 gap-md-3">
                {% if request.user.is_authenticated %}
                <button class="btn bg-black custom-font fw-bold text-white rounded-pill" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi bi-cart-fill"></i>
                    <span>Cart</span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5> -->
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                        <button class="btn border-0 p-0" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column justify-content-between">
                        <div>
                            <div class="row">
                                <span class="fs-3 fw-bold">{{ vendor.name }}</span>
                            </div>
                            <div class="row">
                                <span class="fs-6 mb-3">Deliver to Obio/Akpor</span>
                            </div>
                            {% for item in items %}
                            <div class="row py-3 custom-border-cart">
                                <div class="col-2">
                                    <select name="quantity" id="" class="btn btn-cart rounded-pill border-0 ">
                                        <option value="{{ item.quantity }}">{{ item.quantity }}</option>
                                        {% for i in iterator %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6 ps-3">
                                    <div class="row">
                                        <span class="fs-7 fw-bold">{{ item.product.name }}</span>
                                    </div>
                                    <div class="row">
                                        <span class="fs-7">${{ item.product.price }}</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <img class="image-cart" src="{{ item.product.imageURL }}" alt="">
                                </div>
                            </div>
                            {% endfor %}
                            <div class="pe-3 d-flex justify-content-between py-3 custom-border-cart fw-bold fs-5">
                                <span>Subtotal</span>
                                <span>${{ order.get_cart_price }}</span>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            {% if vendor.name %}
                            <a href="{% url 'checkout' vendor.name %}" class="p-0 offcanvas-link">
                                <button
                                    class="btn col-12 bg-black text-white p-3 text-center fw-bold offcanvas-btn-custom offcanvas-font"
                                    type="button">Head to checkout</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <a href="{% url 'logout' %}">
                    <button class="btn bg-danger custom-font fw-bold text-white rounded-pill" type="button">
                        Log out
                    </button>
                </a>
                {% else %}
                <a href="{% url 'register' %}">
                    <button class="btn custom-font fw-bold text-danger rounded-pill" id="nav-btn-1" type="button">Sign
                        up</button></a>
                <a href="{% url 'login' %}">
                    <button class="btn bg-danger custom-font fw-bold text-white rounded-pill" type="button">Log
                        in</button>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>