<header>
    <nav class="navbar bg-white px-4 fixed-top">
        <div class="container-fluid p-0">
            {% if user.is_authenticated %}
            <div class="offcanvas offcanvas-start p-4" tabindex="-1" id="offcanvas">
                <div class="container-fluid p-0 m-0 d-flex flex-column justify-content-between" style="height: 100vh;">
                    <div class="offcanvas-header row gap-1 p-0 m-0">
                        <i class="bi bi-person-circle fs-1 opacity-50 w-auto ps-0"></i>
                        <div class="col d-flex flex-column justify-content-center ">
                            <div class="row">
                                <span class="fs-6">{{ user.first_name }} {{ user.last_name }}</span>
                            </div>
                            <div class="row">
                                <a href="{% url 'profile-overview' %}" class="remove-link-style">
                                    <span class="fw-bold text-danger fs-6">View account</span>
                                </a>
                            </div>
                        </div>
                        <a href="{% url 'profile-order' %}" class="remove-link-style p-0 mt-3">
                            <i class="bi bi-clipboard-minus-fill fs-6 p-0"></i>
                            <span class="fw-bold fs-6 px-3">Orders</span>
                        </a>
                        <a href="{% url 'profile-favourite' %}" class="remove-link-style p-0 mt-3">
                            <i class="bi bi-suit-heart-fill"></i>
                            <span class="fw-bold fs-6 px-3">Favourites</span>
                        </a>
                        <a href="{% url 'profile-voucher' %}" class="remove-link-style p-0 mt-3">
                            <i class="bi bi-ticket-detailed-fill"></i>
                            <span class="fw-bold fs-6 px-3">Vouchers</span>
                        </a>
                        <a href="" class="remove-link-style p-0 mt-3">
                            <i class="bi bi-question-octagon-fill"></i>
                            <span class="fw-bold fs-6 px-3">Help</span>
                        </a>
                        <a href="{% url 'logout' %}" class="remove-link-style p-0 my-4">
                            <span class="text-danger fw-bold fs-6">Sign out</span>
                        </a>
                        <div class="custom-font fw-bold fs-6 py-2 px-0"> <a href="{% url 'register-vendor' %}"
                                class="offcanvas-link text-black">Create
                                a business account</a></div>
                        <div class="custom-font fw-bold fs-6 py-2 px-0"> <a href=""
                                class="offcanvas-link text-black">Add
                                your restaurant</a></div>
                        <div class="custom-font fw-bold fs-6 py-2 px-0"> <a href=""
                                class="offcanvas-link text-black">Sign up
                                to deliver</a></div>
                        <hr class="text-black my-3" style="height: 1px;">
                    </div>
                    <div class="offcanvas-body row flex-grow-0 p-0 m-0 mb-0 mb-md-4">
                        <div class="row p-0 m-0 mb-3 mt-5">
                            <div class="col-3 rounded d-flex justify-content-center align-items-center"
                                id="logo-placeholder">
                                <span class="custom-font fw-bold">Rum</span>
                            </div>
                            <div class="col-9"><span class="custom-font fw-bold">There's more to love in the
                                    app.</span></div>
                        </div>
                        <div class="row p-0 m-0">
                            <button class="btn border-0 offcanvas-mobile-icon light-gray col-5 p-0 p-2 rounded-pill text-black">
                                <i class="fa-brands fa-android pe-1 text-black"></i>
                                <span class="custom-font fw-bold ps-1" style="font-size: 0.85rem;">Android</span>
                            </button>
                            <div class="col-1"></div>
                            <button class="btn border-0 offcanvas-mobile-icon light-gray col-5 p-0 p-2 rounded-pill text-black">
                                <i class="bi bi-apple pe-1"></i>
                                <span class="custom-font fw-bold ps-1" style="font-size: 0.85rem;">Apple</span>
                                <div class="col-1"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="offcanvas offcanvas-start p-4" tabindex="-1" id="offcanvas">
                <div class="container-fluid p-0 m-0 d-flex flex-column justify-content-between" style="height: 100vh;">
                    <div class="offcanvas-header row gap-1 p-0 m-0">
                        <!-- <h5 class="offcanvas-title">Offcanvas</h5> -->
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button> -->
                        <a href="{% url 'register' %}" class="p-0 offcanvas-link">
                            <div
                                class="col-12 bg-black text-white p-3 mb-1 text-center custom-font fw-bold offcanvas-font offcanvas-btn-custom">
                                Sign up</div>
                        </a>
                        <a href="{% url 'login' %}" class="p-0 offcanvas-link">
                            <div
                                class="col-12 p-3 text-black text-center custom-font fw-bold offcanvas-font light-gray offcanvas-font offcanvas-btn-custom-1">
                                Log in</div>
                        </a>
                        <div class="col-12 mt-3">
                            <div class="custom-font fw-bold fs-6 py-2"> <a href=""
                                    class="offcanvas-link text-black">Create a business account</a></div>
                            <div class="custom-font fw-bold fs-6 py-2"> <a href="" class="offcanvas-link text-black">Add
                                    your restaurant</a></div>
                            <div class="custom-font fw-bold fs-6 py-2"> <a href=""
                                    class="offcanvas-link text-black">Sign up to deliver</a></div>
                        </div>
                    </div>
                    <div class="offcanvas-body row flex-grow-0 p-0 m-0 mb-0 mb-md-4">
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-3 rounded d-flex justify-content-center align-items-center"
                                id="logo-placeholder">
                                <span class="custom-font fw-bold">Rum</span>
                            </div>
                            <div class="col-9"><span class="custom-font fw-bold">There's more to love in the
                                    app.</span></div>
                        </div>
                        <div class="row p-0 m-0">
                            <button class="btn light-gray col-5 p-0 p-2 rounded-pill text-black">
                                <i class="fa-brands fa-android pe-1 text-black"></i>
                                <span class="custom-font fw-bold ps-1" style="font-size: 0.85rem;">Android</span>
                            </button>
                            <div class="col-1"></div>
                            <button class="btn light-gray col-5 p-0 p-2 rounded-pill text-black">
                                <i class="bi bi-apple pe-1"></i>
                                <span class="custom-font fw-bold ps-1" style="font-size: 0.85rem;">Apple</span>
                                <div class="col-1"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="continar-fluid d-flex order-0 order-sm-0 order-md-0" id="nav-brand">
                <button class="btn" id="nav-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
                    <i class="bi bi-list text-black"></i>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <span class="custom-font fw-bold text-black">Rumble</span>
                </a>
            </div>
            <!-- <form action="" class="d-flex" role="search">
                <div class="input-group rounded-pill">
                    <span class="input-group-text light-gray border-0 text-secondary">@</span>
                    <input type="text" class="form-control light-gray border-0" name="search" placeholder="Search"
                        aria-label="Search" autocomplete="off">
                </div>
            </form> -->
            <div class="d-flex justify-content-end gap-2 gap-md-3 order-sm-2 order-md-2" id="cart-logout-btn">
                {% if request.user.is_authenticated %}
                <!-- <button class="btn bg-black custom-font fw-bold text-white rounded-pill" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi bi-cart-fill"></i>
                    <span>Cart</span>
                </button> -->


                <div class="dropdown">
                    <button class="btn bg-black custom-font fw-bold text-white rounded-pill border-0" id="navbar-cart-btn" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-cart-fill"></i>
                        {% if orders|length_is:0 or orders|length_is:1 %}
                        <span>Cart</span>
                        {% else %}
                        <span>{{ orders|length }} Cart</span>
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu dropdown-position p-0 border-0 rounded-1 shadow" id="cart-dropdown">
                        {% for order in orders %}
                        <li class="border-bottom"><a
                                class="dropdown-item p-3 m-0 dropdown-cart row d-flex justify-content-between flex-row"
                                href="#offcanvasRight{{ order }}" data-bs-toggle="offcanvas">
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-burger text-black"></i>
                                </div>
                                <div class="col-7">
                                    <div class="row">
                                        <span class="fs-7 fw-bold">{{ order.vendor.name }}</span>
                                    </div>
                                    <div class="row">
                                        <span class="fs-7">Subtotal ${{ order.get_cart_price }}</span>
                                    </div>
                                    <div class="row">
                                        <span class="fs-7">Deliver to obio/akpor</span>
                                    </div>
                                </div>
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <div class=" rounded-circle rounded-dot bg-black text-white text-center">
                                        <span>{{ order.get_cart_quantity }}</span>
                                    </div>
                                </div>
                                <div class="col-1 d-flex justify-content-center align-items-center fw-bold">
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>

                {% for order in orders %}
                <div class="offcanvas offcanvas-cart offcanvas-end" tabindex="-1" id="offcanvasRight{{ order }}"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5> -->
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                        <button class="btn border-0 p-0" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="bi bi-x-lg"></i>
                        </button>
                       <button class="btn btn-outline-danger" id="deleteCartBtn" data-orderid="{{ order.id }}" data-vendor="{{ order.vendor.id }}">
                            <i class="bi bi-trash3-fill"></i>
                       </button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column justify-content-between">
                        <div>
                            <div class="row">
                                <a href="{% url 'store' order.vendor.name %}" class="remove-link-style p-0 link-dark"><span
                                        class="fs-3 fw-bold px-2">{{ order.vendor.name }}</span></a>
                            </div>
                            <div class="row">
                                <span class="fs-6 mb-3">Deliver in {{ order.vendor.max_delivery_time }} minutes</span>
                            </div>
                            {% for key, order_items in items.items %}
                            {% if key == order %}
                            {% for item in order_items %}
                            <div class="row py-3 custom-border-cart">
                                <div class="col-3">
                                    <select name="quantity"
                                        class="btn btn-cart rounded-pill border-0 offcanvasCartQuantity"
                                        data-quantity="{{ item.quantity }}" data-product="{{ item.product.id }}"
                                        data-vendor="{{ item.order.vendor.id }}" data-action="select">
                                        <option value="0">Remove</option>
                                        {% for i in iterator %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6 ps-0">
                                    <div class="row">
                                        <span class="fs-7 fw-bold">{{ item.product.name }}</span>
                                    </div>
                                    <div class="row">
                                        <span class="fs-7">${{ item.product.price }}</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img class="image-cart" src="{{ item.product.imageURL }}" alt="">
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                            <div class="pe-3 d-flex justify-content-between py-3 custom-border-cart fw-bold fs-5">
                                <span>Subtotal</span>
                                <span>${{ order.get_cart_price }}</span>
                            </div>
                            <!-- <div class="row ">
                                <i class="bi bi-trash3-fill"></i>
                            </div> -->
                        </div>
                        <div class="d-grid gap-2">
                            {% if order.vendor.name %}
                            <a href="{% url 'checkout' order.vendor.name %}" class="p-0 offcanvas-link">
                                <button
                                    class="btn col-12 bg-black text-white p-3 text-center fw-bold offcanvas-btn-custom offcanvas-font"
                                    type="button">Head to checkout</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <a href="{% url 'logout' %}">
                    <button class="btn bg-danger custom-font fw-bold text-white rounded-pill shadow border-0" id="navbar-logout-btn" type="button">
                        Log out
                    </button>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <button class="btn bg-danger custom-font fw-bold text-white rounded-pill shadow border-0"
                        id="navbar-login-btn" type="button">
                        <i class="bi bi-person-fill"></i>Log
                        in</button>
                </a>
                <a href="{% url 'register' %}">
                    <button class="btn order-first bg-white text-black fw-bold rounded-pill shadow border-0" id="navbar-signup-btn"
                        type="button">
                        Sign
                        up</button>
                    </a>
                {% endif %}
            </div>
            <div class="light-gray d-flex w-auto rounded-pill align-items-center search-bar order-sm-1 order-md-1 mt-2 mt-sm-0 mt-md-0" id="searchBar">
                <span class="border-0 text-secondary ps-3">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control col-10 w-auto bg-transparent border-0" placeholder="Search">
            </div>
        </div>
    </nav>
</header>